<div class="col-md-8">
  <div class="horizontal-caption innerLR">
    <h2>You spend about 3 hours starting up your building.  Shorten this time period by starting up a little later and save $570 next month</h2>
    <h3>Start your Systems a Little Later</h3>
    <p>You turn on your building systems at 4:00am, which may be earlier than necessary.  Consider starting your building systems closer to 7:00am, when your building is fully occupied.</p>
  </div>
</div>
<div class="col-md-4">
  <div class="horizontal-caption innerLR">
    <p class="notes"><strong>Save up to $435 next month</strong></p>
        <div class="actions">
          <p><a href="#schedule_audit" data-toggle="modal" class="btn btn-primary">I'm Interested</a></p>
        </div>
  </div>
</div>
