<div class="col-md-8">
  <div class="horizontal-caption innerLR">
    <h2>Install an EnergyStar Hot Water Heater</h2>
    <p>EnergyStar hot water heaters use 25% less energy than outdated inefficient models.  Upgrade your hot water heater and start saving today.</p>
  </div>
</div>
<div class="col-md-4">
  <div class="horizontal-caption innerLR">
    <h3>Save up to $280/month.</h3>
    <div class="actions">
      <p><a href="#schedule_audit" data-toggle="modal" class="btn btn-primary">I'm Interested</a></p>
    </div>
  </div>
</div>
