
<h3>More Ways to Save</h3>
<div class="widget-body">
  <div class="well col-md-4">
    <h2>Install EnergyStar Water Heater</h2>
    <div class="well-image waterheater"></div>
    <div class="widget well-content">
      <h4>Save up to $1,635/month.</h4>

      <p>EnergyStar hot water heaters use 25% less energy than outdated inefficient models.  Upgrade your hot water heater and start saving today.</p>

      <div class="actions">
        <p class="note"><strong>11% of your peers did this</strong></p>

        <p><a href="#special_rebate" data-toggle="modal" class="btn btn-primary">I'm Interested</a></p>

        <p class="secondary-links"><a href="#">No Thanks</a></p>
      </div>
    </div>
  </div>

  <div class="well col-md-4 highlight">
    <h2>Use Programmable Thermostats</h2>
    <div class="well-image tstat"></div>

    <div class="widget well-content">
      <h4>Save up to $570/month.</h4>
      <br/>

      <p>Replace old thermostats with seven-day programmable thermostats. This surprisingly easy fix will save you energy when no one is around.</p>
      <div class="actions">
        <p class="note"><strong>28% of your peers did this</strong></p>

        <p><a href="#schedule_audit" data-toggle="modal" class="btn btn-primary">Learn More</a></p>

        <p class="secondary-links"><a href="#">No Thanks</a></p>
      </div>
    </div>
  </div>

  <div class="well col-md-4">
    <h2>Upgrade Gas Boiler</h2>
    <div class="well-image gas_boiler"></div>
    <div class="widget well-content">
      <h4>Save up to $400/month</h4>
      <p>Upgrade your commercial boiler for improved efficiency.  This will reduce your gas bill</p>
      <p class="note"><a href="https://www.peco.com/Savings/ProgramsandRebates/Business/Pages/default.aspx" target="_blank"><strong>Receive up to a $3,500 incentive</strong></a></p>
      <p class="note"><strong>Expires 12/31/14</strong></p>
      <br/>

      <div class="actions">
        <p class="note"><strong>6% of your peers did this</strong></p>

        <p><a href="#schedule_audit" data-toggle="modal" class="btn btn-primary">Learn More</a></p>

        <p class="secondary-links"><a href="#">No Thanks</a></p>
      </div>
    </div>
  </div>
</div>

