<div class="col-md-8">
  <div class="horizontal-caption innerLR">
    <h2>Turn Off HVAC During Unoccupied Hours</h2>
    <p><strong>You spent $365 more than usual on electrical heating in Jan.</strong></p>
    <p>Shutdown your HVAC system during unoccupied hours. This surprisingly easy fix will keep you from heating and cooling when no one is around.</p>
  </div>
</div>
<div class="col-md-4">
  <div class="horizontal-caption innerLR">
    <p class="notes"><strong>Earn up to $400 in rebates</strong>
      <p>
        <p class="notes"><strong>Expires: 01/11/14</strong></p>

        <div class="actions">
          <p><a href="#special_rebate" data-toggle="modal" class="btn btn-primary">I'm Interested</a></p>
        </div>
  </div>
</div>
