<div class="carousel-caption">
  <h2>Install an EnergyStar Hot Water Heater</h2>
  <h3>Save up to $280/month.</h3>
  <p>EnergyStar hot water heaters use 25% less energy than outdated inefficient models.  Upgrade your hot water heater and start saving today.</p>
  <div class="actions">
    <p><a href="#schedule_audit" data-toggle="modal" class="btn btn-primary">I'm Interested</a></p>
  </div>
</div>
