<div class="row innerLR">
  <h2>Content for Weather Analytics</h2>
</div>
<div class="separator"></div>
<!--
<div class="separator"></div>
<div class="row">
  <div class="btn-group col-md-12 innerLR centered" style="text-align:center;">
    <#%= link_to "/your_usage/monthly_chart?content_id=chart-container", :method => "GET", :id => "utility-button", :class => "btn-sm btn-default", :remote => true do %>
        Monthly
    <#% end %>
    <#%= link_to "/your_usage/daily_chart?content_id=chart-container", :method => "GET", :id => "enduser-button", :class => "btn-sm btn-default active", :remote => true do %>
        Daily
    <#% end %>
  </div>
</div>
-->
