<div class="carousel-caption">
  <h2>Install Programmable Thermostats</h2>
  <p><strong>You spent $365 more than usual on electrical heating in Jan.</strong></p>
  <h3>save up to $570/month</h3>
  <p>Replace old thermostats with seven-day programmable thermostats. This surprisingly easy fix will save you energy when no one is around.</p>
  <div class="actions">
    <p><a href="#special_rebate" data-toggle="modal" class="btn btn-primary">I'm Interested</a></p>
  </div>
</div>
