<!-- Top navbar (note: add class "navbar-hidden" to close the navbar by default) -->
<div class="navbar main">

  <%= render :partial => "shared/header" %>

  <%= render :partial => "shared/components/address_bar" %>

  <% render :partial => "shared/components/ad_banner" %>

  <div id="eon_navigation" class="container-960 innerLR nav-container clearfix">
    <%= render :partial => "shared/components/eon_tabs" %>
  </div>

</div>
<!-- Top navbar END -->
