<div id="footer" class="container-960 innerLR hidden-print">

  <div class="footer-content col-md-12">
    <!--  Copyright Line -->
    <div class="copy">
      <a href="site-map.html?lang=en">Site Map</a>
      <span class="appbrand">Powered by FirstFuel</span>
    </div>
    <!--  End Copyright Line -->
  </div>

</div>
<!-- // Footer END -->
