<div id="billing" class="carousel carousel-1 slide widget clearfix">
  <div class="widget-head">
    <ol class="carousel-indicators">
      <li data-target="#billing" data-slide-to="0" class="active">Current Bill</li>
      <!--
      <li data-target="#billing" data-slide-to="1">Payment History</li>
      -->
    </ol>
  </div>
  <div class="widget-body col-md-12">
    <div class="carousel-inner">
      <!-- Item -->
      <div class="item active clearfix">
        <div class="col-md-3">
          <ul>
            <li><strong>Acct:</strong> 123456789</li>
            <li><strong>From:</strong> 05/31/13 <strong>To:</strong> 06/31/13</li>
            <li><strong>Rate:</strong> $0.13 per kWh</li>
          </ul>
        </div>
        <div class="col-md-3">
          <table>
            <tr>
              <th>Electric Service:</th>
              <td>$000.00</td>
            </tr>
            <tr>
              <th>Gas Service:</th>
              <td>$000.00</td>
            </tr>
            <tr>
              <th>Taxes:</th>
              <td>$0.00</td>
            </tr>
            <tr>
              <th>Previous Balance:</th>
              <td>$000.00</td>
            </tr>
            <tr>
              <th>Payments Received:</th>
              <td>$00.00 <span>05/14/13</span></td>
            </tr>
          </table>
        </div>
        <div class="balance col-md-3">
          <p><strong>Balance Carried Forward:</strong></p>
          <p class="value">$000.00</p>

          <button class="btn btn-default">Pay Bill Now</button>
        </div>
        <div class="col-md-3">
          <div class="chart">
            <img alt="[Chart: Billing]" src="../assets/images/charts/billing.jpg" />
          </div>
        </div>
      </div>
      <!-- // Item END -->
      <!-- Item -->
      <div class="item clearfix">
        <p>&hellip; TBD &hellip;</p>
      </div>
      <!-- // Item END -->
    </div>
  </div>
</div>
