<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="widget widget-body-white">

      <div class=" widget-head  height-auto border-bottom ">
        <!-- Profile Photo -->
        <%= image_tag("building_15.jpg", :class => 'center img-responsive img-clean') %>
      </div>
      <div class="innerAll inner-2x text-center">
        <p class="lead strong margin-none">Ponderosa High School</p>
        <h5>1250 Washington Street&nbsp;Baltimore&nbsp;PA&nbsp;04562</h5>
        <!--
        <div class="btn-group">
          <a href="" class="btn btn-primary"><i class="fa fa-plus fa-fw"></i> Add to list</a>
          <a href="" class="btn btn-primary btn-stroke"><i class="fa fa-envelope"></i></a>
        </div>
       -->
      </div>

      <hr class="margin-none">
    </div>




  </div>
  <!-- // END col -->


  <!-- col -->
  <div class="col-lg-8 col-md-8 col-sm-12">

    <div class="widget ">
      <div class="bottom">
        <h4 class="pull-left innerAll half"><i class="fa fa-list innerR text-primary"></i><b>Building Information</b></h4>
        <div class="clearfix"></div>
      </div>

      <!-- Widget Body -->
      <div class="widget-body">
        <!-- Table -->
        <table class="table">


          <!-- Table body -->
          <tbody>

          <!-- Table row -->
          <tr>
            <td>Building Name</td>
            <td>Alex & Partners LLC</td>
          </tr>
          <!-- // Table row END -->

          <!-- Table row -->
          <tr>
            <td>Building Address</td>
            <td>9575 Washignton Street,  Philadelphia, Pennsylvania 19102</td>
          </tr>
          <!-- // Table row END -->

          <!-- Table row -->
          <tr>
            <td>Building Size</td>
            <td>80,000 SQFT</td>
          </tr>
          <!-- // Table row END -->
          <!-- Table row -->
          <tr>
            <td>Primary Activity</td>
            <td>Office</td>
          </tr>
          <!-- // Table row END -->
          <!-- Table row -->
          <tr>
            <td>Heating Type</td>
            <td>Eletricity</td>
          </tr>
          <!-- // Table row END -->
          <!-- Table row -->
          <tr>
            <td>Cooling Type</td>
            <td>Electricity</td>
          </tr>
          <!-- // Table row END -->
          <!-- Table row -->
          <tr>
            <td>Average Occupancy(%)</td>
            <td>100 %</td>
          </tr>
          <!-- Table row -->
          <tr>
            <td>Year Constructed</td>
            <td>1999</td>
          </tr>
          <!-- Table row -->
          <tr>
            <td>Year Renovated</td>
            <td>Unknown</td>
          </tr>
          <!-- // Table row END -->
          </tbody>

          <!-- // Table body END -->

        </table>
        <!-- // Table END -->

      </div>
      <!-- // Widget Body END -->

    </div>
    <!-- // Widget END -->
  </div>
  <!-- // END col -->
</div>
<!-- // END Row -->
<div class="row">

  <div class="widget ">
    <div class="bottom">
      <h4 class="pull-left innerAll half"><i class="fa fa-star innerR text-primary"></i><b>Key Insights</b></h4>
      <!--      <a class=" btn btn-default    pull-right"><i class="fa fa-cog "></i></a> -->

      <div class="clearfix"></div>
    </div>

    <!-- Widget Body -->
    <div class="widget-body">
      <!-- Table -->
      <table class="table">

        <!-- Table heading -->
        <thead>
        <tr>
          <th class="center">No.</th>
          <th class=""></th>
          <th>Total</th>
          <th>Per SqFt</th>
          <th>BTU/SqFt</th>
        </tr>
        </thead>
        <!-- // Table heading END -->

        <!-- Table body -->
        <tbody>

        <!-- Table row -->
        <tr>
          <td class="center">1</td>
          <td>Peak Demand</td>
          <td>3,041 kW</td>
          <td>4.44 W</td>
          <td>15.17 BTU</td>
        </tr>
        <!-- // Table row END -->

        <!-- Table row -->
        <tr>
          <td class="center">2</td>
          <td>Mean Demand (Occupied)</td>
          <td>2,330 kW</td>
          <td>3.40 W</td>
          <td>11.62 BTU</td>
        </tr>
        <!-- // Table row END -->

        <!-- Table row -->
        <tr>
          <td class="center">3</td>
          <td>Mean Demand (Unoccupied)</td>
          <td>1,481 kW</td>
          <td>2.16 W</td>
          <td>7.39 BTU</td>
        </tr>
        <!-- // Table row END -->
        <!-- Table row -->
        <tr>
          <td class="center">4</td>
          <td>Weather Related Consumption</td>
          <td>4,271,499 kWh</td>
          <td>6.24  kWh</td>
          <td>21.29 kBTU</td>
        </tr>
        <!-- // Table row END -->
        <!-- Table row -->
        <tr>
          <td class="center">5</td>
          <td>Non-Weather Related Consumption</td>
          <td>11,103,201 kWh</td>
          <td>16.22  kWh</td>
          <td>55.34 kBTU</td>
        </tr>
        <!-- // Table row END -->
        </tbody>

        <!-- // Table body END -->

      </table>
      <!-- // Table END -->

    </div>
    <!-- // Widget Body END -->

  </div>
  <!-- // Widget END -->
</div>

