
    <table id="portfolio" class="table table-primary">

  <!-- Table heading -->
  <thead class="bg-gray">
  <tr>
    <th class="text-left" >Building Name</th>
    <!-- <th class="text-center" >Address</th> -->
    <th class="text-center" >Utility</th>
    <th class="text-center" >Account</th>
    <th class="text-center" >Type</th>
    <th class="text-center" >Billing<br />Date</th>
    <th class="text-center" >WGES<br />Charge</th>
    <th class="text-center">Non-Commodity*</th>
    <th class="text-center" >Total</th>
    <th class="text-center" >Renewal Date</th>
  </tr>
  </thead>
  <!-- // Table heading END -->

  <!-- Table body -->
  <tbody>
  <!-- // Table row start -->
      <tr class="gradeA">
        <td>
          <a href="/home/index" target="_blank">Ronald Reagan Courthouse</a>
        </td>
<!--        <td>1000 Continental Dr<br />King of Prussia, PA</td> -->
        <td>PECO</td>
        <td>FFF3322121</td>
        <td>Electric</td>
        <td>01/31/13</td>
        <td class="text-right">$9,255.65</td>
        <td class="text-right"><a href="#" class="btn btn-default">Activate</a></td>
        <!-- <td class="text-right">$1,633.35</td> -->
        <td class="text-right">$10,889.00</td>
        <td class="text-right">01/01/15</td>
      </tr>
  <!-- // Table row END -->
  <!-- // Table row start -->
  <tr class="gradeA">
    <td>
      <a href="/home/index" target="_blank">Federal Sq. Rec Center</a>
    </td>
<!--    <td>222 Delaware Ave<br />Wilmington, DE 19801</td> -->
    <td>Delmarva </td>
    <td>A1B2C3</td>
    <td>Gas</td>
    <td>03/14/13</td>
    <td class="text-right">$2,323.12</td>
    <td class="text-right"><a href="#" class="btn btn-default">Activate</a></td>
    <!-- <td class="text-right">$418.16</td> -->
    <td class="text-right">$2,741.28</td>
    <td class="text-right">06/01/14</td>
  </tr>
  <!-- // Table row END -->
  <!-- // Table row start -->
  <tr class="gradeA">
    <td>
      <a href="/home/index" target="_blank">Ronald Reagan Courthouse</a>
    </td>
<!--    <td>1000 Continental Dr<br />King of Prussia, PA</td> -->
    <td>PECO</td>
    <td>FFF3322121</td>
    <td>Gas</td>
    <td>01/31/13</td>
    <td class="text-right">$3,538.55</td>
    <td class="text-right"><a href="#" class="btn btn-default">Activate</a></td>
    <!-- <td class="text-right">$624.45</td> -->
    <td class="text-right">$4,163.00</td>
    <td class="text-right">01/01/15</td>
  </tr>
  <!-- // Table row END -->
  <!-- // Table row start -->
  <tr class="gradeA">
    <td><a href="#" target="_blank">Franklin Fed Courthouse</a></td>
<!--    <td>1650 Arch St</td>  -->
    <td>PECO</td>
    <td>FFF3343444</td>
    <td>Electric</td>
    <td>06/1/13</td>
    <td class="text-right">$4,5588.24</td>
    <td class="text-right"><a href="#" class="btn btn-default">Activate</a></td>
    <!-- <td class="text-right">$8,205.88</td> -->
    <td class="text-right">$53,794.12</td>
    <td class="text-right">03/01/14</td>
  </tr>
  <!-- // Table row END -->
  <!-- // Table row start -->
  <tr class="gradeA">
    <td><a href="#" target="_blank">Ft George Barracks</a></td>
<!--    <td>100 E Pratt St</td>  -->
    <td>Baltimore Edison</td>
    <td>2323443</td>
    <td>Electric</td>
    <td>05/17/13</td>
    <td class="text-right">$12,121.23</td>
    <td class="text-right"><a href="#" class="btn btn-default">Activate</a></td>
    <!-- <td class="text-right">$2,181.82</td> -->
    <td class="text-right">$14,303.05</td>
    <td class="text-right">06/01/15</td>
  </tr>
  <!-- // Table row END -->
  <!-- // Table row start -->
  <tr class="gradeA">
    <td><a href="#" target="_blank">Fort Lincoln Grocery</a></td>
<!--    <td>3190 Fairview Park Dr</td> -->
    <td>Va Gas & Electric</td>
    <td>FFF3322121</td>
    <td>Gas</td>
    <td>5/26/2014</td>
    <td class="text-right">$9,813.23</td>
    <td class="text-right"><a href="#" class="btn btn-default">Activate</a></td>
    <!-- <td class="text-right">$1,768.38</td> -->
    <td class="text-right">$1,579.61</td>
    <td class="text-right">01/01/15</td>
  </tr>
  <!-- // Table row END -->

  </tbody>
  <!-- // Table body END -->

</table>

    <span class="note marBtm15"><i>* Non-WGES charges are distribution, transmission, taxes and other charges not associated with WGES</i></span>
<!-- // Table END -->

