<div class="separator"></div>
<table id="kpiData">
  <thead>
  <tr>
    <th class="Divider">Total Cost</th>
    <th class="Divider">Electric Consumption</th>
    <th class="Divider">Gas Consumption </th>
    <th class="">Efficiency</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="Divider"><span class="kpiValue">$17,666</span></td>
    <td class="Divider"><span class="kpiValue">450 mWh</span></td>
    <td class="Divider"><span class="kpiValue">1,600 Therms</span></td>
    <td class=""><span class="kpiValue">18%</span></td>
  </tr>
  </tbody>
</table>

<div class="separator"></div>

<table id="portfolio" class="myDynamicTable table">
  <!-- Table heading -->
  <thead class="bg-gray">
  <tr>
    <th class="text-left" >Building Name</th>
    <!-- <th class="text-center" >Address</th> -->
    <th class="center" >Utility</th>
    <th class="center">Account</th>
    <th class="center" >Type</th>
    <!--    <th class="text-center" >Billing<br />Date</th> -->
    <th class="text-center" >Total Cost</th>
    <th class="text-center" >Total Consumption</th>
    <th class="text-center">Energy Efficiency<br/>(kwh / Sq Ft)</th>
  </tr>
  </thead>
  <!-- // Table heading END -->

  <!-- Table body -->
  <tbody>
  <!-- // Table row start -->
  <tr class="gradeA">
    <td>
      <a href="/home/index" target="_blank">King Tower Apts</a>
    </td>
    <!--        <td>1000 Continental Dr<br />King of Prussia, PA</td> -->
    <td>PECO</td>
    <td>0054833728 <br/> <span class="renewal">Renewal: 01/01/15</span></td>
    <td class="text-center">Electric</td>
    <td class="text-right">000</td>
    <td class="text-right">000</td>
    <td class="text-right">000</td>
  </tr>
  <!-- // Table row END -->
  <!-- // Table row start -->
  <tr class="gradeA">
    <td>
      <a href="/home/index" target="_blank">Oxford Manor<br />(WGD)</a>
    </td>
    <!--    <td>222 Delaware Ave<br />Wilmington, DE 19801</td> -->
    <td>Baltimore Edison</td>
    <td>0032049330<br/> <span class="renewal">Renewal: 06/01/14</span></td>
    <td class="text-center">Electric</td>
    <td class="text-right">000</td>
    <td class="text-right">000</td>
    <td class="text-right">000</td>
  </tr>
  <!-- // Table row END -->
  <!-- // Table row start -->
  <tr class="gradeA">
    <td>
      <a href="/home/index" target="_blank">Edgewood Terrace IV<br />(The Vista)</a>
    </td>
    <!--    <td>1000 Continental Dr<br />King of Prussia, PA</td> -->
    <td>PECO</td>
    <td>0054962006<br/> <span class="renewal">Renewal: 01/01/15</span></td>
    <td class="text-center">Gas</td>
    <td class="text-right">000</td>
    <td class="text-right">000</td>
    <td class="text-right">000</td>
  </tr>
  <!-- // Table row END -->
  <!-- // Table row start -->
  <tr class="gradeA">
    <td><a href="/home/index" target="_blank">Rock Creek Ter Ltd Ptnship (WGM)</a></td>
    <!--    <td>100 E Pratt St</td>  -->
    <td>Baltimore Edison</td>
    <td>2173352028<br/> <span class="renewal">Renewal: 06/01/15</span></td>
    <td class="text-center">Electric</td>
    <td class="text-right">000</td>
    <td class="text-right">000</td>
    <td class="text-right">000</td>
  </tr>
  <!-- // Table row END -->
  <!-- // Table row start -->
  <tr class="gradeA">
    <td><a href="/home/index" target="_blank">Summer Ridge</a></td>
    <!--    <td>3190 Fairview Park Dr</td> -->
    <td>Va Gas & Electric</td>
    <td>2206029429<br/> <span class="renewal">Renewal: 01/01/15</span></td>
    <td class="text-center">Electric</td>
    <td class="text-right">000</td>
    <td class="text-right">000</td>
    <td class="text-right">000</td>
  </tr>
  <!-- // Table row END -->
  <!-- // Table row start -->
  <tr class="gradeA">
    <td><a href="/home/index" target="_blank">Mt Royal Towers Assocs Ltd</a></td>
    <!--    <td>3190 Fairview Park Dr</td> -->
    <td>PECO</td>
    <td>2206029429<br/> <span class="renewal">Renewal: 03/01/15</span></td>
    <td class="text-center">Electric</td>
    <td class="text-right">000</td>
    <td class="text-right">000</td>
    <td class="text-right">000</td>
  </tr>
  <!-- // Table row END -->

  </tbody>
  <!-- // Table body END -->

</table>

    <span class="note marBtm15"><i>* Non-WGES charges are distribution, transmission, taxes and other charges not associated with WGES</i></span>
<!-- // Table END -->

<!-- Modal -->
<div class="modal fade" id="utility_activation_1">

  <div class="modal-dialog modal-ex-lg">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h3 class="modal-title">Link Utility Account</h3>
    </div>
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body padding-none">
        <div class="separator"></div>
        <h3>King Tower Apts</h3>
        <p><strong>WGES Account#: </strong>0054833728 </p>
        <div class="separator"></div>

        <div class="widget noBorder">
          <div class="row">
            <div class="col-xs-4">
              <label>Utility Name</label>
              <input type="text" class="form-control" placeholder="PECO" disabled>
            </div>
            <div class="col-xs-3">
              <label>Utility Account Number</label>
              <input type="text" class="form-control" placeholder="Account Number">
            </div>
            <div class="col-xs-3">
              <label>Utility UserName</label>
              <input type="text" class="form-control" placeholder="Utility UserName">
            </div>
            <div class="col-xs-2">
              <label>Password</label>
              <input type="text" class="form-control" placeholder="Password">
            </div>
          </div>
          <div class="separator"></div>
          <p>If you don't know your utility username/password, click here to create your utility access credentials:<br /> <a href="https://www.peco.com/_layouts/peco/createcustomerprofile.aspx?cookieCheck=check" target="_blank">https://www.peco.com/_layouts/peco/createcustomerprofile.aspx?cookieCheck=check </a></p>
        </div>

      </div>
      <!-- // Modal body END -->
      <div class="modal-footer center margin-none">
        <ul class="list-inline">

          <li>
            <a href="#" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</a>
          </li>
          <li>
            <a href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-arrow-circle-right"></i> Submit</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>


<div class="modal fade" id="utility_activation_2">

  <div class="modal-dialog modal-ex-lg">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h3 class="modal-title">Link Utility Account</h3>
    </div>
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body padding-none">
        <div class="separator"></div>
        <h3>Mt Royal Towers Assocs Ltd</h3>
        <p><strong>WGES Account#: </strong>2206029429 </p>
        <div class="separator"></div>

        <div class="widget noBorder">
          <div class="row">
            <div class="col-xs-4">
              <label>Utility Name</label>
              <input type="text" class="form-control" placeholder="PECO" disabled>
            </div>
            <div class="col-xs-3">
              <label>Utility Account Number</label>
              <input type="text" class="form-control" placeholder="Account Number">
            </div>
            <div class="col-xs-3">
              <label>Utility UserName</label>
              <input type="text" class="form-control" placeholder="Utility UserName">
            </div>
            <div class="col-xs-2">
              <label>Password</label>
              <input type="text" class="form-control" placeholder="Password">
            </div>
          </div>
          <div class="separator"></div>
          <p>If you don't know your utility username/password, click here to create your utility access credentials:<br /> <a href="https://www.peco.com/_layouts/peco/createcustomerprofile.aspx?cookieCheck=check" target="_blank">https://www.peco.com/_layouts/peco/createcustomerprofile.aspx?cookieCheck=check </a></p>
        </div>

      </div>
      <!-- // Modal body END -->
      <div class="modal-footer center margin-none">
        <ul class="list-inline">

          <li>
            <a href="#" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</a>
          </li>
          <li>
            <a href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-arrow-circle-right"></i> Submit</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<!-- // Modal END -->


<div class="modal fade" id="utility_activation_3">

  <div class="modal-dialog modal-ex-lg">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h3 class="modal-title">Link Utility Account</h3>
    </div>
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body padding-none">
        <div class="separator"></div>
        <h3>Summer Ridge</h3>
        <p><strong>WGES Account#: </strong>2206029429 </p>
        <div class="separator"></div>

        <div class="widget noBorder">
          <div class="row">
            <div class="col-xs-4">
              <label>Utility Name</label>
              <input type="text" class="form-control" placeholder="Va Gas & Electric" disabled>
            </div>
            <div class="col-xs-3">
              <label>Utility Account Number</label>
              <input type="text" class="form-control" placeholder="Account Number">
            </div>
            <div class="col-xs-3">
              <label>Utility UserName</label>
              <input type="text" class="form-control" placeholder="Utility UserName">
            </div>
            <div class="col-xs-2">
              <label>Password</label>
              <input type="text" class="form-control" placeholder="Password">
            </div>
          </div>
          <div class="separator"></div>
          <p>If you don't know your utility username/password, click here to create your utility access credentials:<br /> <a href="https://www.peco.com/_layouts/peco/createcustomerprofile.aspx?cookieCheck=check" target="_blank">https://www.peco.com/_layouts/peco/createcustomerprofile.aspx?cookieCheck=check </a></p>
        </div>

      </div>
      <!-- // Modal body END -->
      <div class="modal-footer center margin-none">
        <ul class="list-inline">

          <li>
            <a href="#" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</a>
          </li>
          <li>
            <a href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-arrow-circle-right"></i> Submit</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<!-- // Modal END -->




<script type="text/javascript">
    $( document ).ready(function() {
  $(".DTTT").remove();
  });

</script>