<% content_for :portfolio  do %>

    <div id="primary_content" class="primary-content col-md-12">

      <!-- Alert -->
      <!--
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
          You have 8 remaining actions in Your Plan - Get Started Now
        </div>
        -->
      <!-- // Alert END -->

      <style>
          .blackout {
              background-color: #666;
              color: #666;
          }

          div.ColVis_collection {
              /* left: 992px !important; */
              width: 225px !important;
          }


      </style>
      <!-- Table -->

      <div id="list-map">
        <!-- this is filled in by client side backbone template -->
      </div>

    </div> <!-- .primary-content -->

    <!--
    <div class="secondary-content col-md-3">
      <% render :partial => "shared/components/right_column" %>
    </div>
    -->
    <!-- .secondary-content -->
<% end %>




  <div class="container-960 clearfix innerLR">

    <!--
    <div class = "row">
      <div class="widget widget-simple widget-heading-simple">
        <div class="widget-body">
          <h3>Building Portfolio</h3>
          <p class="">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
            sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
          </p>
          <div class="separator bottom"></div>
        </div>
      </div>
    </div>
    -->
    <div class = "primary-content col-md-12">

      <div id="portfolio_Tbl" class="widget clearfix">

        <div class="widget-body clearfix">
          <div class="row">
            <h2 class="pull-left col-md-7">Your Sites</h2>
            <a href="#" class="fa btn btn-default fa-download pull-right marR15"></a>
            <div class="input-group date col-md-4" id="report-date">
              <input class="form-control" type="text" value="January 2013" id="start_date" name="start_date"/>
              <span class="input-group-addon"><i class="fa fa-th"></i></span>
            </div>
          </div>
        <%= yield :portfolio %>
        </div>
      </div>

    </div>
  </div>

<script type="text/javascript">

    var bView;

    function update_view(buildings){
        console.log("update_view called");
        bView = new DemoFirstengage.Views.PortfoliosIndex({collection: buildings});
        $('#list-map').html(bView.render().el);
        $("td.number").number(true, 0);
        //has to run these scripts after the table is rendered by client side backbone script. Don't like it.
        $.getScript("scripts/tables-classic.init.js");
        $.getScript("scripts/datatables.init.js");
    };

    $( document ).ready(function() {
            var buildings = new DemoFirstengage.Collections.Buildings();
            buildings.on('reset', update_view, this);
            buildings.fetch({reset:true});
            console.log("buildings fetched");
            //view = new DemoFirstengage.Views.BuildingsIndex(collection: @collection);
            //$('#list-map').html(view.render().el)
    });

</script>

