<div id="usage_chart_container" style="min-width:400px;height:240px;margin-top:0px;padding-top:30px;padding-right:0px;"></div>

<script type="text/javascript">

    var chart;

    function draw_bar_chart(id) {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: id,
                zoomType: 'xy',
                type: 'column',
                /*
                 backgroundColor: {
                 linearGradient: [0, 0, 500, 500],
                 stops: [
                 [0, 'rgb(255, 255, 255)'],
                 [1, 'rgb(240, 255, 240)']
                 ]
                 },
                 */
                backgroundColor: 'transparent',
                borderWidth: 0,
                //plotBackgroundColor: 'rgba(255, 255, 255, .9)',
                //plotShadow: true,
                plotBorderWidth: 0

            },
            title: {
                text: '',
                x: -20 //center
            },
            xAxis: {
                categories: ['January'],
                title: {
                    text: ''
                },
                labels: {
                    align: 'center',
                    //rotation: -45,
                    step: 1,
                    y: 25
                },
            },
            yAxis: {
                title: {
                    text: 'Usage (Therms)'
                },
                gridLineWidth: 0,
                plotLines: [{
                    value: 0,
                    width: 0,
                    color: '#808080'
                }]
            },
            tooltip: {
                shared: true,
                useHTML: true,
                backgroundColor: 'rgba(255, 255, 255, 0.8)',
                headerFormat: '<span style="color:#7c7c7c;font-size:14px;">{point.key} Gas Usage</span><table>',
                pointFormat: '<tr><td style="color: {series.color};font-size:12px;">{series.name}: </td>' +
                        '<td style="text-align: right;font-size:12px;color:#7c7c7c;"><b>{point.y} Therms</b></td></tr>',
                footerFormat: '</table>',
                valueDecimals: 0,
                shadow: false,
                //valuePrefix: '$$ ',
                //crosshairs: [true,true],
            },
            legend: {
                enabled: true,
                verticalAlign: 'bottom',
                layout: 'horizontal',
                align: 'center',
                floating: false,
                padding: -5,
                x: 10,
            },
            credits: {
                enabled: false
            },
            colors: [
                '#94cc45',
                '#4099d8',
                '#c5789a',
                '#f7d63b',
                '#f7983b',
                '#e02853',
                '#69c2c5',
                '#5e287a',
                '#000',
                '#ccc'

            ],
            exporting: {
                enabled: false
            },
            plotOptions: {
                column: {
                    animation: true,
                    stacking: 'normal',
                    borderWidth: '0',
                    dataLabels: {
                        enabled: true,
                        color: 'white',
                        formatter: function() {

                            if (this.percentage < 25)
                            {
                                return ""
                            }
                            else
                            {
                                //return Math.round(this.percentage,1) + "%";
                                return this.y + '<br/> Therms';
                            }
                        },
                        style: {
                            fontSize: '14px'
                        }
                    }
                },
                series: {
                    //grouping:true,
                    //groupPadding:0.25,
                    pointPadding: 0,
                    borderWidth: 0,
                    events: {
                        legendItemClick: function () {
                            return false;
                        }
                    }
                }
            },
            series: [
                {
                    name: '2012',
                    pointWidth: 95,
                    color: '#cc9900',
                    data: [10530],
                    stack: 'peers',
                },
                {
                    name: 'Available Savings',
                    //enableMouseTracking: false,
                    //showInLegend: false,
                    data:  [1612],
                    pointWidth: 95,
                    stack: 'you',
                },
                {
                    name: '2013',
                    pointWidth: 95,
                    color: '#54a0f5',
                    data: [6741],
                    stack: 'you',
                },
            ]
        },
        function(chart){
            // Last point in graph...

            showLastPointTooltip(chart);



        }
        );
    };

    function showLastPointTooltip(objHighStockchart){
        // show tooltip for last point
        var points=[];
        if(objHighStockchart)
        {
            for(var i=0;i<objHighStockchart.series.length;i++)

                points.push(objHighStockchart.series[i].points[objHighStockchart.series[i].points.length-1]);


            objHighStockchart.tooltip.refresh(points);


        }
    };


   //draw_line_chart("cost_chart_container");
   draw_bar_chart("usage_chart_container");

</script>

