<div class="carousel-caption">
  <h2>Upgrade Gas Boiler</h2>
  <p><strong>You spent $1,160 more than usual on natual gas heating in Jan.</strong></p>
  <h3>Save up to $400/month</h3>
  <p>Upgrade your commercial boiler for improved efficiency. This will reduce your gas bill</p>
  <div class="actions">
    <p><a href="#schedule_audit" data-toggle="modal" class="btn btn-primary">I'm Interested</a></p>
  </div>
</div>