<div class="col-md-8">
  <div class="horizontal-caption innerLR">
    <h2>Install a High Efficiency Boiler</h2>
    <p><strong>You spent $1,160 more than usual on natual gas heating in Jan.</strong></p>
    <h3>Save up to $1,635/month.</h3>
    <p>If you use a boiler, upgrade to a high efficiency condensing boiler. Older boilers consume 35% more energy than new condensing boilers.</p>
  </div>
</div>
<div class="col-md-4">
  <div class="horizontal-caption innerLR">
    <p class="notes"><strong>Earn up to $400 in rebates</strong>
    <p>
    <p class="notes"><strong>Expires:12/31/14</strong></p>

    <div class="actions">
      <p><a href="#schedule_audit" data-toggle="modal" class="btn btn-primary">I'm Interested</a></p>
    </div>
  </div>
</div>
