<div id="billing" class=" clearfix">
 <h3>Current Bill for January</h3>
  <hr></hr>
  <div class="col-md-12">      <!-- Item -->
      <div class="item active clearfix" style="height: auto !important">
        <div class="col-md-3">
          <div class="util_logo">
            <%= image_tag("logos/util_logo.png", :alt => "[Logo: Utility Logo]") %>
          </div>
        </div>
        <div class="col-md-3">
          <table>
            <tr>
              <th>Utility:</th>
              <td>PECO</td>
            </tr>
            <tr>
              <th>Acct Type:</th>
              <td>Commercial</td>
            </tr>
            <tr>
              <th>Meter:</th>
              <td>123456789</td>
            </tr>
            <tr>
              <th>Meter Read:</th>
              <td>01/31/13</td>
            </tr>
            <tr>
              <th>Billed From:</th>
              <td>01/01/13 <strong>To:</strong> 01/31/13</td>
            </tr>


          </table>
        </div>
        <div class="col-md-3">
          <table>
            <tr>
              <th>Total Usage</th>
              <td class="text-right">83,762 kWh</td>
            </tr>
            <tr>
              <th>Rate:</th>
              <td class="text-right">$0.10 per kWh</td>
            </tr>
            <tr>
              <th>Electric Charges:</th>
              <td class="text-right">$8,376.00</td>
            </tr>
            <tr>
              <th>Taxes:</th>
              <td class="text-right">$8.00</td>
            </tr>

          </table>
        </div>
        <div class="col-md-3">
          <table>
            <tr>
              <th>Previous Balance:</th>
              <td class="text-right">$8,376.00</td>
            </tr>
            <tr>
              <th class="">Payments Received:</th>
              <td class="text-right">$8,376.00</td>
            </tr>
            <tr class="borderTop">
              <th class="">Balance Due:</th>
              <td class="text-right"><strong>$0.00</strong></td>
            </tr>
          </table>
            <br>

          <button class="btn btn-default"  href="#billing_details">Billing Details</button>
        </div>

      </div>
      <!-- // Item END -->

      <!-- // Item END -->
  </div>
</div>
