<!-- Table -->
<table class="dynamicTable table colVis">

<!-- Table heading -->
<thead class="grayfade">
<tr>
  <th width="" >ECM Title</th>
  <th width="" >Segment</th>
  <th width="" >Business Type</th>
  <th width="" >Primary Activity</th>
  <!-- <th width="" >Total Visitors <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Total number of visits within the date range."></i></th> -->
  <th width="">Visitor Clicks <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Number of vistors who clicked on ECM"></i></th>
  <th width="">Visitor Actions <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Number of visitors who clicked on action"></i></th>
  <th width="">Visitor Rejects <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Number of visitors who rejected the ECM"></i></th>
</tr>
</thead>
<!-- // Table heading END -->

<!-- Table body -->
<tbody>

<!-- Table row -->
<!-- Table row -->
<tr class="gradeC">
  <td class="left" width="" >Purchase ENERGY STAR equipment</td>
  <td class="left" width="" >Medium (50 - 200 kWh)</td>
  <td class="left" width="" >Education</td>
  <td class="left" width="" >Education - Secondary</td>
  <td class="center">7744</td>
  <!--  <td class="center" width="" >38</td> -->
  <td class="center">4130</td>
  <td class="center">140</td>
</tr>
<!-- Table row -->
<tr class="gradeC">
  <td class="left" width="" >Install a Programmable Thermostat</td>
  <td class="left" width="" >Medium (50 - 200 kWh)</td>
  <td class="left" width="" >Education</td>
  <td class="left" width="" >Education - Secondary</td>
  <td class="center">5808</td>
  <!--  <td class="center" width="" >38</td> -->
  <td class="center">2540</td>
  <td class="center">86</td>
</tr>
<!-- Table row -->
<tr class="gradeC">
  <td class="left" width="" >Adjust your computer power settings</td>
  <td class="left" width="" >Medium (50 - 200 kWh)</td>
  <td class="left" width="" >Education</td>
  <td class="left" width="" >Education - Secondary</td>
  <td class="center">3388</td>
  <!--  <td class="center" width="" >38</td> -->
  <td class="center">1256</td>
  <td class="center">340</td>
</tr>
<tr class="gradeC">
  <td class="left" width="" >Lighting Retrofit</td>
  <td class="left" width="" >Medium (50 - 200 kWh)</td>
  <td class="left" width="" >Education</td>
  <td class="left" width="" >Education - Secondary</td>
  <td class="center" width="" >2420</td>
<!--  <td class="center" width="" >38</td> -->
  <td class="center" width="" >1520</td>
  <td class="center" width="" >260</td>
</tr>
<!-- // Table row END -->

<!-- Table row -->
<tr class="gradeC">
  <td class="left" width="" >Install occupancy sensors to shut off lights</td>
  <td class="left" width="" >Medium (50 - 200 kWh)</td>
  <td class="left" width="" >Education</td>
  <td class="left" width="" >Education - Secondary</td>
  <td class="center">1963</td>
  <!--  <td class="center" width="" >38</td> -->
  <td class="center">71</td>
  <td class="center">423</td>
</tr>
<!-- // Table row END -->

<!-- Table row -->
<tr class="gradeC">
  <td class="left" width="" >Install Reflective Window Film</td>
  <td class="left" width="" >Medium (50 - 200 kWh)</td>
  <td class="left" width="" >Education</td>
  <td class="left" width="" >Education - Secondary</td>
  <td class="center" width="" >490</td>
  <!--  <td class="center" width="" >38</td> -->
  <td class="center" width="" >43</td>
  <td class="center" width="" >189</td>
</tr>
<!-- // Table row END -->

<!-- // Table row END -->

<!-- Table row -->
<tr class="gradeC">
  <td class="left" width="" >Fit Self Closing Doors</td>
  <td class="left" width="" >Medium (50 - 200 kWh)</td>
  <td class="left" width="" >Education</td>
  <td class="left" width="" >Education - Secondary</td>
  <td class="center">726</td>
  <!--  <td class="center" width="" >38</td> -->
  <td class="center">12</td>
  <td class="center">260</td>
</tr>

<!-- Table row -->
<tr class="gradeC">
  <td class="left" width="" >Install Time Clocks on Indoor Lighting</td>
  <td class="left" width="" >Medium (50 - 200 kWh)</td>
  <td class="left" width="" >Education</td>
  <td class="left" width="" >Education - Secondary</td>
  <td class="center">1452</td>
  <!--  <td class="center" width="" >38</td> -->
  <td class="center">120</td>
  <td class="center">460</td>
</tr>
<!-- Table row -->
<tr class="gradeC">
  <td class="left" width="" >Use ceiling and cavity insulation</td>
  <td class="left" width="" >Medium (50 - 200 kWh)</td>
  <td class="left" width="" >Education</td>
  <td class="left" width="" >Education - Secondary</td>
  <td class="center">320</td>
  <!--  <td class="center" width="" >38</td> -->
  <td class="center">2</td>
  <td class="center">142</td>
</tr>
<!-- Table row -->
<tr class="gradeC">
  <td class="left" width="" >Replace your Air Filters</td>
  <td class="left" width="" >Medium (50 - 200 kWh)</td>
  <td class="left" width="" >Education</td>
  <td class="left" width="" >Education - Secondary</td>
  <td class="center">1452</td>
  <!--  <td class="center" width="" >38</td> -->
  <td class="center">468</td>
  <td class="center">48</td>
</tr>

</tbody>
<!-- // Table body END -->

</table>
<!-- // Table END -->

