
 <!-- <div class="row kpi-bar">
   <ul class="kpis">
     <li class="Divider"><a href="#"><span class="name data">Users</span><span class="amount data">500</span></a></li>
     <li class="Divider"><a href="#"><span class="name data">Visits</span><span class="amount data">1,200</span></a></li>
     <li class="Divider"><a href="#"><span class="name data">New Visits</span><span class="amount data">400</span></a></li>
     <li class="Divider"><a href="#"><span class="name data">Pages/Visit</span><span class="amount data">2.84</span></a></li>
     <li><a href="#"><span class="name data">Avg. Time on Site</span><span class="amount data">00:01:29</span></a></li>
     <li><a href="#"><span class="name data">Bounce Rate</span><span class="amount data">66.74%</span></a></li>
   </ul>

 </div>
  <!-- // Top Menu Left END -->

  <table id="kpiData">
    <thead>
    <tr>
      <th class="Divider">Total Visits <i class="fa fa-question-circle" data-toggle="tooltip" title="Total number of visits within the date range."></i></th>
      <th class="Divider">New Visits <i class="fa fa-question-circle" data-toggle="tooltip" title="Number of first time visits during selected date range"></i></th>
      <th class="Divider">Repeat Visits <i class="fa fa-question-circle" data-toggle="tooltip" title="Number of repeated visits during selected date range"></i></th>
      <th class="Divider">Average Time <i class="fa fa-question-circle" data-toggle="tooltip" title="Average lenght of a user session"></i></th>
      <th class="Divider">Page Views <i class="fa fa-question-circle" data-toggle="tooltip" title="Number of page views during selected date range"></i></th>
      <th>Bounce Rate  <i class="fa fa-question-circle" data-toggle="tooltip" title="Bounce rate is the percentage of single page visits"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="Divider"><span class="kpiValue">48,400</span></td>
      <td class="Divider"><span class="kpiValue">16,940</span></td>
      <td class="Divider"><span class="kpiValue">31,460</span></td>
      <td class="Divider"><span class="kpiValue">00:02:48</span></td>
      <td class="Divider"><span class="kpiValue">130,680</span><span class="kpiSub"></span></td>
      <td><span class="kpiValue">22%</span><span class="kpiSub"></span></td>
    </tr>
    </tbody>
  </table>

