
 <div class="row kpi-bar">
   <ul class="kpis">
     <li class="Divider"><a href="#"><span class="name data">Users</span><span class="amount data">450</span></a></li>
     <li class="Divider"><a href="#"><span class="name data">Page Views</span><span class="amount data">6780</span></a></li>
     <li class="Divider"><a href="#"><span class="name data">Average Duration</span><span class="amount data">1.5 min</span></a></li>
     <li><a href="#"><span class="name data">Repeat Visitors</span><span class="amount data">230</span></a></li>
   </ul>

 </div>
  <!-- // Top Menu Left END -->


