<div class="row">
  <div class="col-md-6">
    <div class="widget widget-heading-simple widget-body-white">
      <div class="narrow-widget-head"><h4 class="heading">Visits By New and Returning</h4></div>
      <div class="widget-body" style="text-align:center;">
        <%= image_tag("traffic.png", :alt=>"[image:traffic]") %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="widget widget-heading-simple widget-body-white">
      <div class="narrow-widget-head"><h4 class="heading">Visits by Source</h4></div>
      <div class="widget-body" style="text-align:center;">
        <%= image_tag("sources.png", :alt=>"[image:sources]") %>
      </div>
    </div>
  </div>
</div>
