
<div class="" id="schedule_chart_container" style="height:300px;margin-top:20px;margin-right:-10px;">
</div>

<script type="text/javascript">



    $(document).ready(function() {

        var chart;

        $('#schedule_chart_container').highcharts({
            chart: {
                type: 'bar'
            },
            credits: {
                enabled: false
            },
            legend: {
                enabled: true
            },

            title:{ text: '' },
            xAxis: [{
                max: 6,
                categories: ["Sun","Mon","Tues","Weds","Thurs","Fri","Sat"]
            }],
            yAxis: {
                min: 0,
                max: 24,
                tickInterval: 2,
                title: {
                    text: 'Hours'
                }
            },
            plotOptions: {
                series: {
                    stacking: 'normal',
                    borderWidth: 0
                }
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Unocc',
                color: '#d3d3d3',
                data: [24, 5, 5, 5, 5, 24, 24],
                legendIndex: 1
            }, {
                name: 'Shutdown',
                color: '#64adeb',
                data: [0, 3, 3, 3, 3, 3, 0],
                legendIndex: 4
            }, {
                name: 'Occupied',
                color: '#357ebd',
                data: [0, 6.5, 6.5, 6.5, 6.5, 6.5, 0],
                legendIndex: 3
            }, {
                name: 'Startup',
                color: '#64adeb',
                data: [0, 6, 6, 6, 6, 6, 0],
                legendIndex: 2
            }, {
                name: 'Unoccupied',
                data: [0, 3.5, 3.5, 3.5, 3.5, 3.5, 0],
                color: '#d3d3d3',
                id: 'neutral',
                showInLegend: false
            }]
        });

    });


</script>


