<div class="carousel-caption">
  <h2>Start your Systems a Little Later</h2>
  <p><strong>You spend about 3 hours starting up your building.  Shorten this time period by starting up a little later and save $570 next month.</strong></p>
  <p>You turn on your building systems at 4:00am, which may be earlier than necessary.  Consider starting your building systems closer to 7:00am, when your building is fully occupied.</p>

  <p class="notes"><strong>Save up to $435 next month</strong></p>
  <div class="actions">
    <p><a href="#schedule_audit" data-toggle="modal" class="btn btn-primary">I'm Interested</a></p>
  </div>
</div>
