<div style="margin-right:0px;" class="row">
  <div class="pull-left usage-kpi">
    <ul class="list-inline">
      <li>
        <h4>Potential Savings : <span class="cost">$10,000</span></h4>
      </li>
      <li><h4>Available Rebates : <span class="cost">$1500</span></h4></li>
    </ul>
  </div>
</div>

<div id="horz-rec">
      <!-- Table -->
      <table class="table table-white">

        <!-- Table heading -->
        <!--
        <thead>
        <tr>
          <th width="20%" class="center"></th>
          <th width="60%">Recommendations</th>
          <th width="20%">Actions</th>
        </tr>
        </thead>
        -->
        <!-- // Table heading END -->

        <!-- Table body -->
        <tbody>

        <!-- Table row -->
        <tr>
          <td width="20%" class="well center img">
            <div class="well-image wind"></div>
          </td>
          <td width="80%">
            <h2>Choose UtilityCo Wind Power</h2>
            <p>Choose UtilityCo electricity for improved regional air quality and reduce your carbon footprint.</p>
            <table width="80%" class="rec-savings">
              <tbody><tr>
                <th class="text-left">As Low As</th>
                <th class="text-left">Est. Savings</th>
                <th class="text-left">Carbon Savings</th>

              </tr>
              <tr>
                <td class="text-left">$0.10/kWh</td>
                <td class="text-left">$25,950/yr</td>
                <td class="text-left">15 tonnes/yr</td>

              </tr>


              </tbody></table>
          </td>
          <td width="20%" align="center" vertical-align="middle">
            <div class="actions">
              <p class="note"><strong>42% of your peers did this</strong></p>
              <p><a href="#special_rebate" data-toggle="modal" class="btn btn-primary">I'm Interested</a></p>
              <p class="secondary-links"><a href="#">No Thanks</a></p>
            </div>
          </td>
        </tr>
        <!-- // Table row END -->
        <tr><td class="spacer">&nbsp;</td></tr>
        <!-- // Table row END -->


        <tr>
          <td width="20%" class="well center img">
            <div class="well-image tstat" ></div>
          </td>
          <td width="60%">
            <h2>Turn Off HVAC During Unoccupied Hours</h2>
            <p>Shutdown your HVAC system during unoccupied hours. This surprisingly easy fix will keep you from heating and cooling when no one is around.</p>
            <table width="80%" class="rec-savings">
              <tbody><tr>
                <th class="text-left">Est. Cost</th>
                <th class="text-left">Est. Savings</th>
                <th class="text-left">Return on Investment</th>
                <th class="text-left">Carbon Savings</th>
              </tr>
              <tr>
                <td class="text-left">$0</td>
                <td class="text-left">$6,856</td>
                <td class="text-left">0 Months</td>
                <td class="text-left">25 tonnes/yr</td>
              </tr>


              </tbody></table>
          </td>
          <td width="20%" align="center" vertical-align="middle">
            <div class="actions">
              <p class="note"><strong>18% of your peers did this</strong></p>
              <p><a href="#special_rebate" data-toggle="modal" class="btn btn-primary">I'm Interested</a></p>
              <p class="secondary-links"><a href="#">No Thanks</a></p>
            </div>
          </td>
        </tr>
        <!-- // Table row END -->
        <!-- // Table row END -->
        <tr><td class="spacer">&nbsp;</td></tr>
        <!-- // Table row END -->
        <tr>
          <td width="20%" class="well center img">
            <div class="well-image temp"></div>
          </td>
          <td width="60%">
            <h2>Choose the Right Temperature</h2>
            <p>Setting your thermostat higher in the summer (78 F) and lower in the winter (68 F) will help you save on heating and cooling costs.</p>
            <table width="80%" class="rec-savings">
              <tbody><tr>
                <th class="text-left">Est. Cost</th>
                <th class="text-left">Est. Savings</th>
                <th class="text-left">Return on Investment</th>
                <th class="text-left">Carbon Savings</th>
              </tr>
              <tr>
                <td class="text-left">$0</td>
                <td class="text-left">$6,180/yr </td>
                <td class="text-left">0 Months</td>
                <td class="text-left">23 tonnes/yr</td>
              </tr>


              </tbody></table>
          </td>
          <td width="20%" align="center" vertical-align="middle">
            <div class="actions">
              <p class="note"><strong>82% of your peers did this</strong></p>
              <p><a href="#special_rebate" data-toggle="modal" class="btn btn-primary">I'm Interested</a></p>
              <p class="secondary-links"><a href="#">No Thanks</a></p>
            </div>
          </td>
        </tr>
        <!-- // Table row END -->

        <!-- // Table row END -->
        <tr><td class="spacer">&nbsp;</td></tr>
        <!-- // Table row END -->

        <tr><td class="spacer">&nbsp;</td></tr>
        <!-- // Table row END -->
        <tr>
          <td width="20%" class="well center img">
            <div class="well-image control"></div>
          </td>
          <td width="60%">
            <h2>Install Controls for Exterior Lights</h2>
            <p>Use photocell controls on outdoor lighting to shut off lights when the sun is out.  This will save you electricity all year long.</p>
            <table width="80%" class="rec-savings">
              <tbody><tr>
                <th class="text-left">Est. Cost</th>
                <th class="text-left">Est. Savings</th>
                <th class="text-left">Return on Investment</th>
                <th class="text-left">Carbon Savings</th>
              </tr>
              <tr>
                <td class="text-left">$3,079</td>
                <td class="text-left">$6,228/yr</td>
                <td class="text-left">4 Months</td>
                <td class="text-left">23 tonnes/yr</td>
              </tr>
           </tbody></table>
          </td>
          <td width="20%" align="center" vertical-align="middle">
            <div class="actions">
              <p class="note"><strong>35% of your peers did this</strong></p>

              <p><a href="#special_rebate" data-toggle="modal" class="btn btn-primary">I'm Interested</a></p>
              <p class="secondary-links"><a href="#">No Thanks</a></p>
            </div>
          </td>
        </tr>
        <!-- // Table row END -->
        <tr><td class="spacer">&nbsp;</td></tr>
        <!-- // Table row END -->
        <tr>
          <td width="20%" class="well center img">
            <div class="well-image bulbs2"></div>
          </td>
          <td width="60%">
            <h2>Lighting Retrofit</h2>
            <p>Save 25-30% on lighting energy cost by installing compact fluorescent lamps (CFLs) or efficient fluorescents tube lighting.</p>
            <table width="80%" class="rec-savings">
              <tbody><tr>
                <th class="text-left">Est. Cost</th>
                <th class="text-left">Est. Savings</th>
                <th class="text-left">Return on Investment</th>
                <th class="text-left">Carbon Savings</th>
              </tr>
              <tr>
                <td class="text-left">$51,570</td>
                <td class="text-left">$11,460/yr</td>
                <td class="text-left">4.5 Years</td>
                <td class="text-left">42 tonnes/yr</td>
              </tr>


              </tbody></table>
          </td>
          <td width="20%" align="center" vertical-align="middle">
            <div class="actions">
              <p class="note"><strong>10% of your peers did this</strong></p>

              <p><a href="#special_rebate" data-toggle="modal" class="btn btn-primary">I'm Interested</a></p>
              <p class="secondary-links"><a href="#">No Thanks</a></p>
            </div>
          </td>
        </tr>
        <!-- // Table row END -->

        </tbody>
        <!-- // Table body END -->

      </table>


</div>
