<div class="col-md-8">
  <div class="horizontal-caption innerLR">
    <h2>Turn Off HVAC During Unoccupied Hours</h2>
    <p><strong>You spent $365 more than usual on electrical heating in Jan.</strong></p>
    <h3>Save up to $955 next month</h3>
    <h3>Replace incandescent lamps with fluorescent (CFL) lamps.</h3>
    <p>Compact fluorescent lamps (CFLs) use about one-third the energy of incandescent lamps and last about ten times as long.</p>
  </div>
</div>
<div class="col-md-4">
  <div class="horizontal-caption innerLR">
    <p class="note"><a href="https://www.peco.com/Savings/ProgramsandRebates/Business/Pages/default.aspx" target="_blank"><strong>Earn rebate up to $65/fixture</strong></a></p>
    <p class="notes">Expires: 12/31/14</p>
    <div class="actions">
      <p><a href="#schedule_audit" data-toggle="modal" class="btn btn-primary">I'm Interested</a></p>
    </div>
  </div>
</div>
