<div class="container-960 innerLR clearfix">
  <div class="ad-banner">
    <div class="carousel slide carousel-fade" id="banner-carousel">
      <div class="carousel-inner">
        <!-- Item -->
        <div class="item active">
          <%= image_tag("banners/cost_banner.png", :alt => "[Image: Cost Banner]") %>
        </div>
        <!-- // Item END -->
        <!-- Item -->
        <div class="item">
          <%= image_tag("banners/energy_banner.png", :alt => "[Image: Energy Banner]") %>
        </div>
        <!-- // Item END -->
        <!-- Item -->
        <div class="item">
          <%= image_tag("banners/gas_banner.png", :alt => "[Image: Gas Banner]") %>
        </div>
        <!-- // Item END -->
        <!-- Item -->
        <div class="item">
          <%= image_tag("banners/plan_banner.png", :alt => "[Image: Plan Banner]") %>
        </div>
        <!-- // Item END -->
      </div>
    </div> <!-- .carousel -->
  </div>
</div>