<div id="breadcrumb-box" class="container-960 innerLR clearfix">
  <ul class="breadcrumb">
    <li><a class="back-link" href="/home/portfolio">Your Portfolio</a></li>
    <li class="separator"><i class="fa fa-angle-right"></i></li>
    <li>
      <select  class="ajax-selector selectpicker"  data-url="/home/load_building">
        <!--
        <option value="fe_demo_building_1">Government Office</option>
        <option value="fe_demo_building_2">Retail Store</option>
        <option value="fe_demo_building_3">Recreation Center</option>
        <option value="fe_demo_building_1">Ronald Reagan Courthouse</option>
        <option value="fe_demo_building_2">Fort Lincoln Grocery</option>
        <option value="fe_demo_building_3">Federal Square Recreation Center</option>
        <option value="fe_demo_building_3">Fort George Barracks</option>
        <option value="fe_demo_building_3">Franklin Federal Courst House</option>

        <option value="fe_demo_building_1">Mt Royal Towers Assocs Ltd</option>
        <option value="fe_demo_building_2">Lincoln Westmoreland Apts</option>
        <option value="fe_demo_building_3">Pleasant Homes (Pem)</option>
        <option value="fe_demo_building_3">Woodland Street Apts (EBG)</option>
        <option value="fe_demo_building_3">Glenreed Apts (EBG)</option>
        -->
        <option value="ponderosa_high_school">Public High School</option>
        <option value="recreation_center">Recreation Center</option>
        <option value="retail_store">Retail Store</option>

      </select>
    </li>
  </ul>

</div>
