<div id="" class="container-960 innerLR clearfix">
  <select  class="ajax-selector selectpicker hidden-print col-md-6"  data-url="/home/load_building" style="display:none;">
    <option value="fe_demo_building_1">High School</option>
    <option value="fe_demo_building_2">Retail Store</option>
    <option value="fe_demo_building_3">Recreation Center</option>
  </select>
  <a class="back-link" href="#">back to portfolio &raquo;</a>
  <p class="document-links">
    <a href="#location_profile" data-toggle="modal" class="fa fa-pencil"></a>
    <a href="#" class="fa fa-print"></a>
    <a href="#" class="fa fa-download"></a>
  </p>
</div>
