<!-- Modal -->
<div class="modal fade" id="billing_details">

  <div class="modal-dialog modal-ex-lg">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body padding-none">

        <div class="widget row">
          <div class="widget-head"><h4>Billing Details (Electric)</h4></div>
    <div class="col-md-4">
      <%= image_tag("logos/util_logo.png", :alt => "[Logo: FirstFuel]") %><br><br>
      <strong>Company Name</strong><br>
      123 Main St<br>
      Boston MA 12345
    </div>
          <div class="col-md-4">
            <table>
              <tr>
                <th>Utitly:</th>
                <td>PECO</td>
              </tr>
              <tr>
                <th>Acct Type:</th>
                <td>Commercial</td>
              </tr>
              <tr>
                <th>Meter#</th>
                <td>123456789</td>
              </tr>
              <tr>
                <th>Meter Read:</th>
                <td>06/31/13</td>
              </tr>
              <tr>
                <th>Billed From:</th>
                <td>05/31/13 <strong>To:</strong> 06/31/13</td>
              </tr>
              <tr>
                <th>Total Usage</th>
                <td>570 kWh</td>
              </tr>
              <tr>
                <th>Rate:</th>
                <td>$0.13 per kWh</td>
              </tr>

            </table>
          </div>
    <div class="col-md-4">

      <table>
      <tr>
        <th class="text-right">Amount Due:</th>
        <td>$000.00</td>
      </tr>
      <tr>
        <th class="text-right">Amount Paid:</th>
        <td>n/a</td>
      </tr>
        <tr>
          <th class="text-right">Last Reading Date:</th>
          <td>07/02/13</td>
        </tr>
        <tr>
        <th class="text-right">Next Reading Date:</th>
        <td>07/02/13</td>
      </tr>

    </table>

    </div>

</div><!-- // widget -->

        <div class="widget row ">
          <hr>
          <div class="col-md-7">
            <table >
              <tr>
                <th class="text-center">Current Reading:</th>
                <th class="text-center">Previous Reading:</th>
                <th class="text-center">kWh Used:</th>
              </tr>
              <tr>
                <td class="text-center">16985</td>
                <td class="text-center">16414</td>
                <td class="text-center">571 kWh</td>
              </tr>


            </table>
            <table class="tbl_lines" width="100%">
              <tr>
                <th>Customer Charge</th>
                <td></td>
                <td></td>
                <td></td>
                <td>$0.00</td>
              </tr>
              <tr>
                <th>Energy Charge</th>
                <td>571 kWh</td>
                <td>X</td>
                <td>.0876</td>
                <td>$0.00</td>
              </tr>
              <tr>
                <th>Fuel Cost</th>
                <td>571 kWh</td>
                <td>X</td>
                <td>.01234</td>
                <td>$0.00</td>
              </tr>
              <tr>
                <th>State Surcharge</th>
                <td>571 kWh</td>
                <td>X</td>
                <td>.07654</td>
                <td>$0.00</td>
              </tr>
              <tr>
                <th>Total Electric Amount</th>
                <td></td>
                <td></td>
                <td></td>
                <th>$0.00</th>
              </tr>


            </table>


          </div>
          <div class="col-md-5">

             <div class="summary">
             <h3>Summary</h3>
             <table>
               <tr>
                 <th>Payments Received: Aug 1 2013</th>
                 <td class="text-right">$000.00</td>
               </tr>
               <tr>
                 <th>Charges This period:</th>
                 <td class="text-right">$000.00</td>
               </tr>
               <tr>
                 <th>Applied Credits:</th>
                 <td class="text-right">$00.00</td>
               </tr>
               <tr>
                 <th>Total Amount Due By Sep 21, 2013</th>
                 <td class="total text-right">$00.00</td>
               </tr>



             </table>



           </div>



          </div>


        </div><!-- // widget -->
        <div class="widget row ">
          <div class="col-md-7">
            <table class="tbl_lines" width="100%">
              <tr>
                <th class="text-center">Month/Year</th>
                <th class="text-center">Type of<br>Reading</th>
                <th class="text-center">Days</th>
                <th class="text-center">kWh</th>
                <th class="text-center">Avg Daily<br>Use</th>
                <th class="text-center">Avg Temp</th>
              </tr>
              <tr>
                <td>Aug 15</td>
                <td class="text-center">Actual</td>
                <td class="text-center">29</td>
                <td class="text-center">570</td>
                <td class="text-center">19.6</td>
                <td class="text-center">80 F</td>
              </tr>
              <tr>
                <td>Aug 15</td>
                <td class="text-center">Actual</td>
                <td class="text-center">29</td>
                <td class="text-center">570</td>
                <td class="text-center">19.6</td>
                <td class="text-center">80 F</td>
              </tr>
              <tr>
                <td>Aug 15</td>
                <td class="text-center">Actual</td>
                <td class="text-center">29</td>
                <td class="text-center">570</td>
                <td class="text-center">19.6</td>
                <td class="text-center">80 F</td>
              </tr>


            </table>

          </div>
          <div class="col-md-5"></div>
        </div>
       <div class="widget row">
         <div class="col-md-12"><hr></div>
       </div>


      </div>
      <!-- // Modal body END -->
      <div class="modal-footer center margin-none">
        <ul class="list-inline">

          <li>
            <a href="#" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<!-- // Modal END -->




