
<div class="row">
  <div class="col-md-12">
    <h1 class="pull-left">Public High School</h1>
    <!--<span class="dateRange"><strong>[08-01-11</strong> to <strong>08-01-12]</strong></span> -->
    <div class="location_profile pull-right">
      <span><a href="#location_profile" class="marR15">Location Profile:</a></span>
      <a href="#location_profile" data-toggle="modal" alt="60%">
        <div class="progress" >
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" data-toggle="tooltip" title="60%">

          </div>
        </div>
      </a>
    </div>
  </div>

</div>
<div id="kpi-bar"class="widget clearfix">
    <div class="col-md-2 text-center dashedRt">
      <div class="kpi clearfix ">Electricity (kWh)<span class="kpiValue">1,560,430</span></div>
    </div>
    <div class="col-md-2 text-center dashedRt">
      <div class="kpi clearfix">Gas (Therms)<span class="kpiValue">66,935</span></div>
    </div>
    <div class="col-md-2 text-center dashedRt">
      <div class="kpi clearfix">Potential Savings<span class="kpiValue">$145,000/Year</span></div>
    </div>
    <div class="col-md-2 text-center dashedRt">
      <div class="kpi clearfix">Realized Savings<span class="kpiValue">$45,000</span></div>
    </div>
    <div class="col-md-2 text-center dashedRt">
      <div class="kpi clearfix">Energy Cost<span class="kpiValue">$2.30/SqFt</span></div>
    </div>
    <div class="col-md-2 text-center ">
      <div class="kpi clearfix">Peak Demand (kW)<span class="kpiValue">780</span></div>
    </div>

  </div>
  <div class="separator"></div>
  <ul class="topnav col-md-12" id="navigation-tabs">

    <li data-placement="top" data-original-title="Click to view details about your energy cost" data-toggle="tooltip" class="active" id="topnav_1">
      <a title="" href="/home/your_cost?id=primary_content&amp;tab_id=topnav_1" data-remote="true">
        <span class="tab-icon icon-bolt fa fa-circle"><i class="fa fa-dollar"></i></span><span class="name data">Your Cost</span>
      </a>
    </li>
    <li data-placement="top" data-original-title="Click to view details about your energy usage" data-toggle="tooltip" id="topnav_2">
      <a title="" href="/home/your_usage?id=primary_content&amp;tab_id=topnav_2" data-remote="true">
        <span class="tab-icon fa fa-circle"><i class="fa fa-building"></i></span><span class="name data">Your Usage</span>
      </a>
    </li>
    <li data-placement="top" data-original-title="Click to view available savings" data-toggle="tooltip" id="topnav_3">
      <a title="" href="/home/your_savings?id=primary_content&amp;tab_id=topnav_3" data-remote="true">
        <span class="tab-icon icon-money fa fa-circle"><i class="fa fa-money"></i></span><span class="name data">Your Savings</span>
      </a>
    </li>
    <li data-placement="top" data-original-title="Click to view energy analysis" data-toggle="tooltip" id="topnav_4">
      <a title="" href="/home/energy_analysis?id=primary_content&amp;tab_id=topnav_4" data-remote="true">
        <span class="tab-icon icon-money fa fa-circle"><i class="fa fa-bar-chart-o"></i></span><span class="name data">Energy Analysis</span>
      </a>
    </li>
    <li data-placement="top" data-original-title="Click to view meter data" data-toggle="tooltip" id="topnav_5">
      <a title="" href="/your_electric/meter_data?content_id=primary_content&amp;tab_id=topnav_5" data-remote="true">
        <span class="tab-icon icon-money fa fa-circle"><i class="fa fa-tachometer"></i></span><span class="name data">Meter Data</span>
      </a>
    </li>
    <!--
    <li id="topnav_3" data-toggle="tooltip" data-original-title="Click to view available savings" data-placement="top">
      <#%= link_to "/home/your_savings?id=primary_content&tab_id=topnav_3", :title =>"", :remote => true do %>
          <span class="tab-icon icon-money fa fa-circle"><i class="fa fa-group"></i></span><span class="name data">Your Peers</span><span class="amount data">10 Efficient</span>
      <#% end %>
    </li>
    -->
  </ul>
  <!-- // Top Menu Left END -->

