

<div id="eon_navigation" class="container-960 innerLR nav-container clearfix">
  <ul class="topnav col-md-12" id="navigation-tabs">

    <li data-placement="top" data-original-title="Click to view details about your energy cost" data-toggle="tooltip" class="active" id="topnav_1">
      <a title="" href="/home/your_cost?id=primary_content&amp;tab_id=topnav_1" data-remote="true">
        <span class="tab-icon icon-bolt fa fa-circle"><i class="fa fa-dollar"></i></span><span class="name data">Your Cost<br><span class="note">Jan 2013</span></span>
      </a>    </li>
    <li data-placement="top" data-original-title="Click to view details about your energy usage" data-toggle="tooltip" id="topnav_2">
      <a title="" href="/home/your_usage?id=primary_content&amp;tab_id=topnav_2" data-remote="true">
        <span class="tab-icon fa fa-circle"><i class="fa fa-building"></i></span><span class="name data">Your Usage<br><span class="note">Jan 2013</span></span>
      </a>    </li>
    <li data-placement="top" data-original-title="Click to view available savings" data-toggle="tooltip" id="topnav_3">
      <a title="" href="/home/your_savings?id=primary_content&amp;tab_id=topnav_3" data-remote="true">
        <span class="tab-icon icon-money fa fa-circle"><i class="fa fa-money"></i></span><span class="name data">Your Savings <br> &nbsp;</span>
      </a>    </li>
    <!--
    <li id="topnav_3" data-toggle="tooltip" data-original-title="Click to view available savings" data-placement="top">
      <#%= link_to "/home/your_savings?id=primary_content&tab_id=topnav_3", :title =>"", :remote => true do %>
          <span class="tab-icon icon-money fa fa-circle"><i class="fa fa-group"></i></span><span class="name data">Your Peers</span><span class="amount data">10 Efficient</span>
      <#% end %>
    </li>
    -->
  </ul>
  <!-- // Top Menu Left END -->
</div>
