<div id="recommendations" class="horizontal clearfix">
  <div class="widget-body">
          <div class="well col-md-4">
            <h2>Lower Your Bill</h2>
            <div class="well-image"><%= image_tag "placeholder-dashboard-image.jpg", :alt => "[Image: Graph]" %></div>

            <div class="well-content">
              <h3>Save up to $200/Year</h3>
              <h4>Install Power Strips</h4>
              <p>Consider using "smart" power strips to reduce the power consumed by task lighting, computer accessories, fans, space heaters, and other miscellaneous plug loads.</p>

              <div class="actions">
                <p><a href="#" class="btn btn-inverse">I'm Interested</a></p>
                <p class="secondary-links"><a href="#">Done</a> <a href="#">No Thanks</a></p>
              </div>
            </div>
            <i class="fa fa-caret-down"></i>
          </div>

          <div class="well col-md-4 highlight">
            <h2>Special Rebate</h2>
            <%= image_tag "placeholder-dashboard-image.jpg", :alt => "[Image: Graph]" %>

            <div class="well-content">
              <h3>Earn a $500 Instant Rebate</h3>
              <p class="note">Expires 10/20/14</p>
              <h4>When you update your lighting to LED bulbs.</h4>
              <p>Modern fluorescent tube lighting can also save about one quarter when compared to their older vintage.</p>

              <div class="actions">
                <p><a href="#" class="btn btn-inverse">Learn More</a></p>
                <p class="secondary-links"><a href="#">Done</a> <a href="#">No Thanks</a></p>
              </div>
            </div>
            <i class="fa fa-caret-down"></i>
          </div>

          <div class="well col-md-4">
            <h2>Highest Savings</h2>
            <%= image_tag "placeholder-dashboard-image.jpg", :alt => "[Image: Graph]" %>

            <div class="well-content">
              <h3>Save up to $1500/Year</h3>
              <p class="note"><strong>Up to $400 in rebates</strong><br />Expires 10/20/14</p>
              <h4>Install Programmable Thermostats</h4>
              <p>This surprisingly easy fix will keep you from heating and cooling your space when no one is around.</p>

              <div class="actions">
                <p><a href="#" class="btn btn-inverse">Learn More</a></p>
                <p class="secondary-links"><a href="#">Done</a> <a href="#">No Thanks</a></p>
              </div>
            </div>
            <i class="fa fa-caret-down"></i>
          </div>
</div>
</div>
