<div class="building-details">
  <!--
  <div id="building-health-score" class="widget widget-heading-simple widget-body-primary-gradient">
      <div class="widget-body">
          <div class="">
              <h2>Your Building Health Score<span class="fa fa-circle"><span class="value">72</span></span></h2>
              <p><a href="#">How to improve your score</a></p>
          </div>
      </div>
  </div>
  -->
  <div class="well widget-container clearfix">
    <div class="widget widget-heading-simple widget-body-gray">
      <div class="widget-body">
        <div class="location-details">
          <h2>Location Details</h2>
          <hr class="separator text-center" />
          <div class="widget widget-heading-simple widget-body-white profile-progress">
            <p><strong>Building Profile Progress</strong></p>
            <div class="progress">
              <div style="width: 70%;" class="progress-bar progress-bar-primary"></div>
            </div>
          </div>
          <!-- // Widget With Progress Bar END -->
          <%= image_tag "placeholder-location-image.jpg", :alt => "[Building Image]" %>
          <ul>
            <li><strong>Building Type:</strong> School</li>
            <li><strong>Location SqFt:</strong> 182,722</li>
            <li><strong>Occupants:</strong> 460</li>
            <li><strong>Heating Type:</strong> Gas</li>
            <li><strong>Cooling Type:</strong> Electric</li>
          </ul>
          <hr class="separator text-center" />
          <a href="#">Edit Location</a>
        </div>
      </div>
    </div> <!-- .widget -->
    <div class="widget widget-heading-simple widget-body-gray">
      <div class="widget-body">
        <div class="billing-details">
          <h2>Billing Details</h2>
          <hr class="separator text-center" />
          <ul>
            <li><strong>Latest Bill:</strong> 07/02/03</li>
            <li><strong>Electric Usage:</strong> 1500 kwh</li>
            <li><strong>Rate:</strong> $0.13 kwh</li>
            <li><strong>Gas Usage:</strong> 800 kbtu</li>
          </ul>
          <p class="total">Current Bill: <span>$000.00</span></p>
          <hr class="separator text-center" />
          <a href="#">View Last Bill</a>
        </div>
      </div>
    </div> <!-- .widget -->
    <div class="widget widget-heading-simple widget-body-gray">
      <div class="widget-body">
        <div class="events">
          <h2>Upcoming Events</h2>
          <hr class="separator text-center" />
          <p>Onsite Audit Scheduled for:<br />
            <strong>01/11/14 at 1pm</strong></p>
          <a href="#">Reschedule</a>
        </div>
      </div>
    </div> <!-- .widget -->
    <!--
    <div class="widget widget-heading-simple widget-body-gray">
        <div class="widget-body">
            <div class="goals">
                <h2>Your Goals</h2>
                <hr class="separator text-center" />
                <div class="widget widget-heading-simple widget-body-white">
                    <p><strong>Actions Taken (2 of 10)</strong></p>
                    <div class="progress">
                        <div style="width: 20%;" class="progress-bar progress-bar-primary"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> --> <!-- .widget -->
  </div>
</div>
<a class="slide-toggle fa fa-angle-double-right" href="#"></a>
