<div id="special_rebate" class="modal clearfix recommendation-modal energy-star-rebate" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h2>Special Rebate: Earn up to $500</h2>
      <h3>Save Money &amp; Energy with Efficient Refrigerators &amp; Freezers</h3>
      <%= image_tag("energy_star_logo.png", :alt => "[Image: Energy Star]") %>
      <p>Get a rebate up to $$500 in when you buy an energy efficient refrigerator, up to $300 when you buy an energy efficient freezer. You will qualify for the maximum rebate when you pick from the TopTen USA™ lists of the most efficient models.

        Just choose your model, buy from a qualified retailer, and send in your rebate form – we’ll send your rebate to you in the form of a Mass Save pre-paid Visa® card.</p>

      <div class="controls clearfix">
        <button type="button" class="download-form btn btn-primary">Download Form</button>
      </div>

      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
  </div>
</div>

