<div class="carousel-caption">

  <h2>Turn Off HVAC During Unoccupied Hours</h2>

  <p><strong>You spent $365 more than usual on electrical heating in Jan.</strong></p>
  <p>Shutdown your HVAC system during unoccupied hours. This surprisingly easy fix will keep you from heating and cooling when no one is around.</p>
  <h3>save up to $310/month</h3>
  <!--
  <p class="notes"><strong>Earn rebate up to $65/fixture</strong></p>
  <p class="notes">Expires: 12/31/14</p>
  -->
  <div class="actions">
    <p><a href="#schedule_audit" data-toggle="modal" class="btn btn-primary">I'm Interested</a></p>
  </div>
</div>
