
  <h3>More Ways to Save</h3>
  <div class="widget-body">
    <div class="well col-md-4">
      <h2>Choose UtilityCo Wind Power</h2>
      <div class="well-image wind"></div>
      <div class="widget well-content">
        <h4>As low as $0.10/kWh</h4>

        <p>Choose UtilityCo electricity for improved regional air quality and reduce your carbon footprint.</p>

        <div class="actions">
          <p class="note"><strong>42% of your peers did this</strong></p>
          <p><a href="#"  target="_blank" class="btn btn-primary">Learn More</a></p>
          <p class="secondary-links"><a href="#">No Thanks</a></p>
        </div>
      </div>
    </div>

    <div class="well col-md-4 highlight">
      <h2>Choose the Right Temperature</h2>
      <div class="well-image temp"></div>

      <div class="widget well-content">
        <h4>Save up to $515/month</h4>
        <p>Setting your thermostat higher in the summer (78 F) and lower in the winter (68 F) will help you save on heating and cooling costs.</p>
        <br/>

        <div class="actions">
          <p class="note">23% of your peers  did this</p>
          <p><a href="#schedule_audit" data-toggle="modal" class="btn btn-primary">Learn More</a></p>
          <p class="secondary-links"><a href="#">No Thanks</a></p>
        </div>
      </div>
    </div>

    <div class="well col-md-4">
      <h2>Install Lighting Controls</h2>
      <div class="well-image control"></div>
      <div class="widget well-content">
        <h4>Save up to $670/month</h4>
        <p>Occupancy sensors help you turn off lights in empty rooms.  Install lighting controls to save energy when your lights aren’t being used.</p>
        <p class="note"><a href="https://www.peco.com/Savings/ProgramsandRebates/Business/Pages/default.aspx" target=_blank"><strong>Rebate up to $75/unit</strong></a></p>
        <p class="note"><strong>Expires 10/20/14</strong></p>
        <br/>

        <div class="actions">
          <p class="note"><strong>14% of your peers did this</strong></p>
          <p><a href="#" class="btn btn-primary">Learn More</a></p>
          <p class="secondary-links"><a href="#">No Thanks</a></p>
        </div>
      </div>
    </div>
  </div>
